
<div class="bg-light lter b-b wrapper-md active ">
    <p class="glyphicon glyphicon-cog">
        <h1 class="m-n font-thin h3 ">Admin Panel | Manage </h1>
    </p>
    <div class="collapse navbar-collapse bootstrap-admin-navbar-sm">
        <ul class="nav navbar-nav navbar-right ">
                 <li>
                <a href="#">Employees <i class="glyphicon glyphicon-new-window"></i></a>
            </li>
            <li>
                <a href="#">Users <i class="glyphicon glyphicon-credit-card"></i></a>
            </li>
            <li>
                <a href="#"> <i class="glyphicon glyphicon-cog"></i></a>
            </li>
            <li>
                <a href="#">Bookings    <i class="glyphicon glyphicon-book"></i></a>
            </li>

            <li>
                <a href="#">Employees <i class="glyphicon glyphicon-new-window"></i></a>
            </li>
            <li>
                <a href="#">Users <i class="glyphicon glyphicon-credit-card"></i></a>
            </li>
            <li>
                <a href="#"> <i class="glyphicon glyphicon-cog"></i></a>
            </li>
            <li>
                <a href="#">Bookings    <i class="glyphicon glyphicon-book"></i></a>
            </li>
            <li>
                <a href="~/Home/Index">Front End<i class="glyphicon glyphicon-share-alt"></i></a>
            </li>
      
        </ul>
    </div>

</div>